<div class="header-fixed">
    <header class="header">
        <div class="header-logo">
            <a asp-controller="Home" asp-action="Index">
                <img src="@Url.Content("~/assets/img/logo.png")" alt="logo" class="head-logo" />
            </a>
            <div class="head-text">
                <p class="head-title">
                    CÔNG TY CỔ PHẦN THIẾT BỊ CÔNG NGHỆ CAO TM
                </p>
                <p class="head-desc">
                    Nhập khẩu và Phân Phối Thiết Bị Y Tế Cao Cấp Chính Hãng
                </p>
            </div>
        </div>

        <div class="head-hotline">
            <div class="head-lang">
                <img class="fi" src="../assets/img/VietNam.png" alt="" />
                <img class="fi" src="../assets/img/ncanh.png" alt="" />
            </div>

            <div class="head-phone">
                <i class="fa-solid fa-phone"></i>
                <span>0912.500.099</span>
            </div>
        </div>
    </header>

    <nav class="nav">
        <div class="menu-toggle">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="nav-list">
            <li class="mobile-menu-header">
                <img src="../assets/img/logo.png"
                     alt="logo"
                     class="mobile-menu-logo" />
                <div class="mobile-menu-title">TM Medical Technology</div>
            </li>
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-item-link">
                    Trang chủ
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Home" asp-action="About" class="nav-item-link">
                    Giới thiệu
                </a>
            </li>

            <li class="nav-item has-mega">
                <a href="#" class="nav-item-link">Sản phẩm</a>

                <div class="mega-menu">
                    <div class="mega-container">
                        <!-- Cột 1 -->
                        <div class="mega-column">
                            <h4 class="mega-title">Chẩn đoán hình ảnh</h4>
                            <ul class="mega-list">
                                <li><a href="#">Máy chụp X-Quang</a></li>
                                <li><a href="#">Máy Siêu âm</a></li>
                                <li><a href="#">Hệ thống Máy nội soi</a></li>
                                <li>
                                    <a href="#">Hệ thống nội soi cổ tử cung</a>
                                </li>
                            </ul>
                            <a href="#" class="view-all">
                                Xem tất cả
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                        </div>

                        <!-- Cột 2 -->
                        <div class="mega-column">
                            <h4 class="mega-title">Thăm dò chức năng</h4>
                            <ul class="mega-list">
                                <li><a href="#">Máy đo điện tim</a></li>
                                <li><a href="#">Máy đo điện não</a></li>
                                <li><a href="#">Máy đo chức năng hô hấp</a></li>
                            </ul>
                        @*  <a href="/Product/Category?slug=@cat.Slug" class="btn-more">
                               Xem thêm >
                            </a> *@
                            <a asp-controller="Product" asp-action="Category" class="view-all">
                                Xem tất cả <i class="fa-solid fa-caret-down"></i>
                            </a>
                            
                        </div>

                        <!-- Cột 3 -->
                        <div class="mega-column">
                            <h4 class="mega-title">Cấp cứu hồi sức tích cực</h4>
                            <ul class="mega-list">
                                <li><a href="#">Máy hỗ trợ thở</a></li>
                                <li><a href="#">Máy thở xách tay</a></li>
                                <li>
                                    <a href="#">Monitor theo dõi bệnh nhân</a>
                                </li>
                                <li>
                                    <a href="#">Máy theo dõi độ sâu gây mê</a>
                                </li>
                            </ul>
                            <a href="#" class="view-all">
                                Xem tất cả
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                        </div>

                        <!-- Cột 4 -->
                        <div class="mega-column">
                            <h4 class="mega-title">Thiết bị phòng mổ</h4>
                            <ul class="mega-list">
                                <li><a href="#">Máy gây mê kèm thở</a></li>
                                <li><a href="#">Bàn mổ cơ-điện-thủy lực</a></li>
                                <li>
                                    <a href="#">Đèn mổ LED ánh sáng lạnh</a>
                                </li>
                                <li><a href="#">Dao mổ điện</a></li>
                                <li><a href="#">Máy hút dịch</a></li>
                            </ul>
                            <a href="#" class="view-all">
                                Xem tất cả
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                        </div>

                        <!-- Cột 5 -->
                        <div class="mega-column">
                            <h4 class="mega-title">Thiết bị nhi - Sản khoa</h4>
                            <ul class="mega-list">
                                <li><a href="#">Lồng ấp trẻ sơ sinh</a></li>
                                <li>
                                    <a href="#">
                                        Giường hồi sức và sưởi ấm trẻ sơ
                                        sinh
                                    </a>
                                </li>
                                <li><a href="#">Đèn chiếu vàng da</a></li>
                                <li><a href="#">Nôi sơ sinh</a></li>
                            </ul>
                            <a href="#" class="view-all">
                                Xem tất cả
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                        </div>

                        <!-- Cột 6 -->
                        <div class="mega-column">
                            <h4 class="mega-title">Thiết bị y tế khác</h4>
                            <ul class="mega-list">
                                <li><a href="#">Thiết bị y tế Gia đình</a></li>
                                <li>
                                    <a href="#">Vật tư y tế, tiêu hao, hóa chất</a>
                                </li>
                                <li>
                                    <a href="#">Các bộ dụng cụ phẫu thuật</a>
                                </li>
                                <li><a href="#">Thiết bị thú y</a></li>
                            </ul>
                            <a href="#" class="view-all">
                                Xem tất cả
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a asp-controller="Home" asp-action="Project"
                   class="nav-item-link">
                    Dự án
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Service"
                   class="nav-item-link">
                    Dịch vụ
                </a>
            </li>
            <li class="nav-item">
                <a
                   class="nav-item-link nav-item-link-bf" asp-controller="Home" asp-action="News">Tin tức</a>
                <ul class="nav-list-child">
                    <li>
                        <a href="#" class="list-child-link">Tin tức y tế</a>
                    </li>
                    <li>
                        <a href="#" class="list-child-link">Tin tức nội bộ</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Recruitment"
                   class="nav-item-link">
                    Tuyển dụng
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Contact"
                    class="nav-item-link">
                    Liên hệ
                </a>
            </li>
        </ul>

        <div class="nav-search">
            <input class="nav-search-input" placeholder="Nhập từ khóa ..." />
            <button class="nav-search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </nav>
</div>

