
<div class="sidebar-box">
    <div class="sidebar-header">SẢN PHẨM NỔI BẬT</div>
    <div class="sidebar-content">
        <div class="sidebar-item">
            <div class="item-thumb">
                <img src="../assets/img/chan-doan.png" />
            </div>
            <div class="item-info">
                <a class="item-title">Chuẩn đoán hình ảnh</a>
                <a class="item-more">▶ Xem chi tiết</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="item-thumb">
                <img src="../assets/img/phuc-hoi.png" />
            </div>
            <div class="item-info">
                <a class="item-title">Thăm dò chức năng</a>
                <a class="item-more">▶ Xem chi tiết</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="item-thumb">
                <img src="../assets/img/hoi-suc.png" />
            </div>
            <div class="item-info">
                <a class="item-title">Cấp cứu hồi sức tích cực</a>
                <a class="item-more">▶ Xem chi tiết</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="item-thumb">
                <img src="../assets/img/phong-mo.png" />
            </div>
            <div class="item-info">
                <a class="item-title">Thiết bị phòng mổ</a>
                <a class="item-more">▶ Xem chi tiết</a>
            </div>
        </div>

        <div class="sidebar-item">
            <div class="item-thumb">
                <img src="../assets/img/san-nhi.png" />
            </div>
            <div class="item-info">
                <a class="item-title">Thiết bị nhi sản</a>
                <a class="item-more">▶ Xem chi tiết</a>
            </div>
        </div>

        <div class="sidebar-item">
            <div class="item-thumb">
                <img src="../assets/img/noi-khoa.png" />
            </div>
            <div class="item-info">
                <a class="item-title">Thiết bị y tế khác</a>
                <a class="item-more">▶ Xem chi tiết</a>
            </div>
        </div>
    </div>
</div>

<div class="sidebar-box mt-20">
    <div class="sidebar-header">TIN NỔI BẬT</div>
    <div class="sidebar-content">
        <div class="news-side-item">
            <div class="news-thumb"><img src="../assets/img/new-2.png" /></div>
            <div class="news-info">
                <a href="#">
                    Khi bị nhồi máu cơ tim, bạn chỉ có 10 giây để cứu tự cứu
                    lấy mình
                </a>
                <span class="news-date">23-02-2018</span>
            </div>
        </div>
        <div class="news-side-item">
            <div class="news-thumb"><img src="../assets/img/new-3.png" /></div>
            <div class="news-info">
                <a href="#">
                    Khi bị nhồi máu cơ tim, bạn chỉ có 10 giây để cứu tự cứu
                    lấy mình
                </a>
                <span class="news-date">23-02-2018</span>
            </div>
        </div>
        <div class="news-side-item">
            <div class="news-thumb"><img src="../assets/img/new-1.png" /></div>
            <div class="news-info">
                <a href="#">
                    Khi bị nhồi máu cơ tim, bạn chỉ có 10 giây để cứu tự cứu
                    lấy mình
                </a>
                <span class="news-date">23-02-2018</span>
            </div>
        </div>
    </div>
</div>
